.header {
  max-width: 1440px;
  margin: 0 auto;
}

.header__container {
  width: 91%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.header__logo {
  margin: 0;
  margin-top: 23px;
  left: 104px;
  background: url(../../images/header-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 120px;
  height: 34px;
  margin-right: 104px;
  z-index: 10;
}

.header__basket {
  margin: 0;
  margin-top: 24px;
  padding: 0;
  background: url(../../images/header-basket.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 42px;
  height: 37px;
  border: none;
}

@media screen and (max-width: 1330px) {
  .header__container {
    justify-content: space-between;
  }
}
