.burger {
  display: flex;
  position: fixed;
  flex-direction: row-reverse;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: visibility 0.4s, opacity 0.4s linear;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  z-index: 15;
}

.burger__logo {
  display: none;
  position: absolute;
  z-index: 30;
  left: 30px;
  top: 2px;
}

.burger__close-button {
  position: absolute;
  z-index: 30;
  top: 20px;
  right: 55px;
  background: url(../../images/close-button.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 45px;
  height: 45px;
  border: none;
  cursor: pointer;
}

.burger__close-button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.burger__container {
  position: relative;
  background: black;
  display: none;
  z-index: 16;
  width: 70%;
}

.burger-link {
  margin-right: 0;
  margin-top: 20px;
}

@media screen and (max-width: 1351px) {
  .burger_opened {
    display: flex;
    visibility: visible;
    opacity: 1;
  }

  .burger__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .burger__container {
    width: 100%;
  }

  .burger__close-button {
    right: 20px;
  }
}
